.token-container{
    display: flex;
    justify-content: center;
}

.token-row{
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 900px;
}

.token{
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}

.token h1{
    font-size: 16px;
    width: 150px;
}

.token img{
    height: 35px;
    width: 35px;
    margin-right: 10px;
}

.token-symbol{
    text-transform: uppercase;
}

.token-data{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.token-price{
    width: 110px;
}
.token-volume{
    width: 200px;
}

.token-marketCap{
    width: 240px;
}

.token-percent{
    width: 80px;
}

.red{
    color: #f00606;
}

.green{
   color: #11d811;
}